h1 {
	text-align: center;
	font-size: 30px;
}

.categories {
	width: 15%;
	float: right;
	position: relative;
}

.products {
	width: 85%;
	float: left;
	position: relative;
}

.category_products {
	width: 100%;
}